<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lolmunchul.web.repository.MemberRepository">

<!--    <select id="findAll" resultType="Member">-->
<!--    select *-->
<!--    from community-->
<!--    </select>-->

    <insert id="save" parameterType="Member">
        insert into
        member(id, email, password, username, nickname )
        values(#{id}, #{email}, #{password},#{username},#{nickname})

    </insert>

    <select id="findByEmail" resultType="Member">
        select * from member where email = #{email}
    </select>


</mapper>